
@model List<ArabaDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Renk</th>
                        <th>Hasar Durumu</th>
                        <th>Yıl</th>
                        <th>Resim</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Marka</td>
                        <td>@item.Model</td>
                        <td>@item.Renk</td>
                        <td>@item.HasarDurumu</td>
                        <td>@item.Yil</td>
                        <td style="width:50px;height:50px;">
                            <img src="@item.Resim" />
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/Car/CarDelete/@item.Id">Sil</a>
                        </td>
                        <td>
                            <a class="btn btn-success" href="/Car/CarDetails/@item.Id">Detaylar</a>
                        </td>
                        <td>
                            <a class="btn btn-info" href="/Car/CarUpdate/@item.Id">Güncelle</a>
                        </td>
                        <td>
                            <a class="btn btn-dark" href="/Hasar/Index/@item.Id">Hataları</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>